[user]
  name = Genki Sato
  email = genki.sato@crowdworks.co.jp
[core]
  pager = less -RSFXin
	excludesfile = /Users/genkisato/.gitignore_global
[color]
  ui = auto
[alias]
  alias = !git config --list | grep 'alias\\.' | sed 's/alias\\.\\([^=]*\\)=\\(.*\\)/\\1\\\t => \\2/' | sort
  a = add
  b = branch
  c = commit
  cv = commit -v
  ch = checkout
  d = diff
  dc = diff --cached
  f = fetch --prune
  s = status --short --branch
  st = status
  l = log
  lg = log --graph --all --decorate --abbrev-commit --branches --date=short --pretty=format:\"%C(red)%h%C(reset) %C(green)[%ad]%C(reset) %s %C(cyan)@%an%C(reset) %C(yellow)%d%C(reset)\"
  p = pull
  ph = push
[push]
  default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
