[mysqld]
character_set_server    = utf8

[mysql]
default-character-set   = utf8
prompt                  = '\\u@\\h\\_(\\R:\\m:\\s)\\_[\\d]\\_>\\_'
pager                   = grcat ~/.grcat | less -RSFXin
show-warnings

